# LaTeX build files
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot

# Minted
_minted*

# OS junk
.DS_Store
Thumbs.db

# Editor junk
.vscode/
.idea/
*.swp
